<header id="top" data-stellar-background-ratio="0" style="height: 923px;">
    <div class="container home">
      <div class="row">
        <div class="span10 offset1 intro">
          <h2>Software Factory</h2>
        </div>
      </div>
      <div class="social-header hidden-phone">
          <a href="https://www.facebook.com/Nibyru.Software" target="_blank" class="social-network sn2 facebook"></a>
          <a href="http://ar.linkedin.com/" target="_blank" class="social-network sn2 linkedin"></a>
          <a href="https://github.com/Nibyru" target="_blank" class="social-network sn2 github"></a>
          <a href="#contact" class="social-network sn2 email"></a>
      </div>
    </div>
    <div id="home-arrow" class="hidden-phone">
        <a href="#features"><i class="icon-double-angle-down icon-3x" id="iconHome"></i></a>
    </div>
</header>
